/* Write some CSS below */
body {
	font-family:'Rokkitt', serif;
	font-size: 16px;
	background-color: rgb(230, 230, 230);
	color: rgb(30, 30, 30);
	margin: 0;
}	

h1 {
	font-family: 'DM Sans', sans-serif;
	font-size: 95px;
	margin: 0px;
	font-style: normal;
}

h2, h3 {
	font-family:'DM Sans', sans-serif;
}

a {
	text-decoration: none;
}

.banner {
	background-image: url(images/banniere.jpg);
	background-size: cover;
	background-position: center;
	text-align: center;
	color: white;
	padding: 110px 0px;
	font-size: 20px;
	font-style: italic;
}

.btn-yellow {
	background-color: #99d1f7;
	padding: 10px 45px;
	color: white;
	font-size: 16px;
	border-radius: 4px;
	font-style: normal;
}

.btn-yellow:hover {
	opacity: 0.8;
}

.container {
	width: 900px;
	margin: auto;
	font-family: 'Cookie', cursive;
	font-size: 16px;
}

.card-white img {
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 4px;
}

.card-white {
	background-color: #f2dcdc;
	text-align: center;
	width: 220px;
	padding: 24px;
	margin-bottom: 4px;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
}

.footer {
	background-color: #99d1f7;
	text-align: center;
	padding: 16px;
	margin-top: 16px;
	color: black;
	grid-template-columns: 7fr 1fr;
	margin-top: 70px;
	display: grid;
	font-family: 'Rubik', sans-serif;
}

.réseaux-sociaux img{
	width: 30px;
	height: 30px;
	align-content: right;
	vertical-align: middle;
	margin-top: 15px;	
}
.réseaux-sociaux:hover{
	transform: scale(1.25);
}

.cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 16px;
}

.texte-présentation {
	font-family: 'Rubik', sans-serif;
	font-size: 16px;
	color: black;
	text-align: justify;
	margin-left: 100px;
	margin-top: 25px;
	margin-bottom: 25px;
	padding: 10px;
}

.texte-conclusion {
	font-family: 'Rubik', sans-serif;
	font-size: 16px;
	color: black;
	text-align: justify;
	margin-left: 100px;
	margin-top: 25px;
	margin-bottom: 25px;
	padding: 10px;
}